<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<title>Resumizr - Preview</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'resumizr/css/bootstrap.min.css' %}">
		<script src="{% static 'resumizr/js/angular.min.js' %}"></script>
		<script src="{% static 'resumizr/js/jquery.min.js' %}"></script>
		<script src="{% static 'resumizr/js/jquery-ui.min.js' %}"></script>
		<script src="{% static 'resumizr/js/bootstrap.min.js' %}"></script>
		<link href="{% static  'resumizr/css/font-awesome.min.css' %}" rel="stylesheet">
	</head>
	<body>
	{{ data }}
	</body>
</html>