/******* CSS RESET ********/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html,
body {
  font-size: 15px;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

 
#wrapper {
	min-height: 100%;
	
}
 
#main {
	margin:0px;
	padding:10px;
	padding-bottom: 70px;
	
} 
#footer {position: relative;
    margin-top: -70px; /* negative value of footer height */
    height: 60px;
    clear:both;}
 
/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

#social-login-list {
	padding-left: 25%;
}


.nav-bar {
	padding:10px;
}
.nav-bar h1 {
	font-size:3em;
}


.form-container {
	width:50%;
	margin-right: auto;
	margin-left:auto;
}

.sub-title {
font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
font-size: 2.1em;
color: #564f8a;
padding-bottom: 10px;
}

.forgot-password a:active , .forgot-password a:visited , .forgot-password a:link{
	color:#bb0a43;
	 text-decoration: none;
}