<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title> {{ title }}</title>
        {% load staticfiles %}

        <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'resumizr/css/bootstrap.min.css' %}">
        <link href="{% static  'resumizr/css/onepage-scroll.css' %}" rel="stylesheet">
        <link href="{% static  'resumizr/css/landing_page.css' %}" rel="stylesheet">

        <script src="{% static 'resumizr/js/jquery.min.js' %}"></script>
        <script src="{% static 'resumizr/js/landing_page/jquery-one-page.min.js' %}"></script>
        
    </head>
    
