<form method="post" action="" id="disconnect-form">{% csrf_token %}</form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
          $(document).on('click', 'a.disconnect', function (e) {
              e.preventDefault();
              $('form#disconnect-form')
                  .attr('action', $(this).attr('href'))
                  .submit();
          });
      });
    </script>


{% load mysplit %}

<p>You are logged in as {{ user.username }}!</p>


<p>Associated:</p>
<ul>
  {% for assoc in backends.associated %}
    <li>
      {{ assoc.provider|mysplit:"-"|first|capfirst }} 
      
      	(<a href="{% url 'social:disconnect_individual' assoc.provider assoc.id %}" class="disconnect">Disconnect</a> or<a href="/logout/">logout</a>)
    </li>
  {% endfor %}
</ul>

<p>  Associate </p>


{% for provider in oauth_providers  %}
		Connect <a href="{% url 'social:begin' provider %}">{{ provider|mysplit:"-"|first|capfirst}}</a> </br>
{% endfor %}
