{% load mysplit %}
{% load staticfiles %}
{% include "header.html" with title="Welcome to Resumizr" %}
<body>
<div id="wrapper">
    <div id="main">
	<script type="text/javascript" src="{% static 'resumizr/js/signup.js' %}"></script>
        
    <div class="nav-bar">
    <h1> Resumizr </h1>
    </div>
    <div class="ui inverted divider"></div>



    <div class="form-container">

    <h1 class="ui sub-title center aligned basic segment">
    Signup
    </h1>
        <div class="ui grid">
        <div class="right floated four wide column right aligned forgot-password">
        <a href="/forgot-password">forgot password </a>
        </div>
        </div>
		
		<form method="post" action="/signup/username/" id="signup-form">
		{% csrf_token %}
		{{ form.non_field_errors }}

        {% if form.non_field_errors %}
        <div class="ui error message">
            <div class="header">Action Forbidden</div>  
            
            <li>
            {{ form.non_field_errors}}
            </li>
                
        </div>
        {% endif %}
        
        <div class="ui warning form segment">
          
        <div class="field">
            <label>email</label>
            <div class="ui left labeled icon input">
                <div class="ui error message">
                <p> {{ form.email.errors | safe }} </p>
                </div>
              {{ form.email }} 
              <i class="user icon"></i>
              <div class="ui corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>

          <div class="field">
            <label>Username</label>
            <div class="ui left labeled icon input">
                <div class="ui error message">
                <p> {{ form.username.errors }} </p>
                </div>
              {{ form.username }} <div id="available"></div>
              <i class="user icon"></i>
              <div class="ui corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left labeled icon input">
            <div class="ui error message">
                <p> {{ form.password.errors }} </p>
            </div>
              {{ form.password }}
              <i class="lock icon"></i>
              <div class="ui corner label">
                <i class="asterisk icon"></i>
              </div>
            </div>
          </div>
          <button type="submit" class="ui purple submit button">Register</button>
        </div>
      </div>
  </form> 

</div>
		
</div>
</div>

{% include "footer.html" %}

    </body>
</html>