<!DOCTYPE html>
<html>
<head>
    <title>Resumizr | Dashboard </title>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'resumizr/css/bootstrap.min.css' %}">
    <link href="{% static  'resumizr/css/font-awesome.min.css' %}" rel="stylesheet">

    <script src="{% static 'resumizr/js/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>

</head>
<body>
    <label><h3>Saved Resumes</h3></label>
    <div class="show-all-cvs">
        
    </div>

</body>
</html>